---
import { renderToString } from 'react-dom/server';
import React from 'react';
import App from './index.jsx';

// const html = ReactDOM.renderToString(<App />);
---

<html>
  <head>
    <title>My Portfolio</title>
  </head>
  <body class="bg-gray-100">
    <!-- Render the HTML output of your React application -->
    <App />
  </body>
</html>