---
import Sidebar from '../components/Sidebar.jsx';
import MainContainer from '../components/MainContainer.jsx';
import '../styles/global.css'; // Import global styles
---

<html>
  <head>
    <title>My Portfolio</title>
  </head>
  <body class="bg-gray-100">
    <div class="flex min-h-screen">
      <Sidebar />
      <MainContainer />
    </div>
  </body>
</html>
